In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)

# Periodic Table

In [5]:
txt_dir = "./AME_Files/"

In [6]:
masses_natural = pd.read_csv(txt_dir + "periodic_table.csv").rename(
    columns={'NumberofNeutrons':'Neutrons', 'NumberofProtons':'Protons', 'AtomicMass':'Atomic_Mass_Micro', 'Symbol':'EL'})

In [7]:
masses_natural["Mass_Number"] = masses_natural["Neutrons"] + masses_natural["Protons"]

In [8]:
masses_natural.head()

,AtomicNumber,Element,EL,Atomic_Mass_Micro,Neutrons,Protons,NumberofElectrons,Period,Group,Phase,Radioactive,Natural,Metal,Nonmetal,Metalloid,Type,AtomicRadius,Electronegativity,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence,Mass_Number
0,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,NaN,yes,NaN,yes,NaN,Nonmetal,0.79,2.20,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0,1
1,2,Helium,He,4.002,2,2,2,1,18.0,gas,NaN,yes,NaN,yes,NaN,Noble Gas,0.49,NaN,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN,4
2,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,NaN,yes,yes,NaN,NaN,Alkali Metal,2.10,0.98,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0,7
3,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,NaN,yes,yes,NaN,NaN,Alkaline Earth Metal,1.40,1.57,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0,9
4,5,Boron,B,10.811,6,5,5,2,13.0,solid,NaN,yes,NaN,NaN,yes,Metalloid,1.20,2.04,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0,11

In [9]:
masses_natural = masses_natural[["Neutrons", "Protons", "Mass_Number", "EL", "Atomic_Mass_Micro", "NumberofElectrons", "AtomicRadius", "Electronegativity", "Density"]]

In [10]:
masses_natural.head()

,Neutrons,Protons,Mass_Number,EL,Atomic_Mass_Micro,NumberofElectrons,AtomicRadius,Electronegativity,Density
0,0,1,1,H,1.007,1,0.79,2.20,0.000090
1,2,2,4,He,4.002,2,0.49,NaN,0.000179
2,4,3,7,Li,6.941,3,2.10,0.98,0.534000
3,5,4,9,Be,9.012,4,1.40,1.57,1.850000
4,6,5,11,B,10.811,5,1.20,2.04,2.340000

In [11]:
masses_natural[masses_natural["Protons"] == 92]

,Neutrons,Protons,Mass_Number,EL,Atomic_Mass_Micro,NumberofElectrons,AtomicRadius,Electronegativity,Density
91,146,92,238,U,238.029,92,NaN,1.38,19.0

In [12]:
masses_natural["N"] = masses_natural["Neutrons"] * 0

In [13]:
masses_natural["A"] = masses_natural["Mass_Number"] * 0

In [16]:
masses_natural.to_csv("natural_element_masses.csv", index=False)

# Merging with AME

In [15]:
natural = pd.read_csv("natural_element_masses.csv")
ame = pd.read_csv("./AME/elemental_properties.csv")

In [17]:
natural.columns = ["N", "Z", "A", "EL", "Atomic_Mass_Micro", "Neutrons", "Mass_Number"]
natural["Neutrons"] = natural["Mass_Number"] - natural["Z"]
natural.head()

   N  Z   A  EL  Atomic_Mass_Micro  Neutrons  Mass_Number
0  0  1   1   H              1.007        -1            0
1  2  2   4  He              4.002        -2            0
2  4  3   7  Li              6.941        -3            0
3  5  4   9  Be              9.012        -4            0
4  6  5  11   B             10.811        -5            0

In [21]:
ame.head()

,N,Z,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,...,"Q(n,np)","Q(n,d)","Q(n,2n)","Q(n,t)","Q(n,3He)","Q(d,t)","Q(d,3He)","Q(3He,t)","Q(3He,a)","Q(t,a)"
0,1,0,Other,8071.31713,0.00046,0.000,0.0,782.347,0.0,1.008665e+06,...,NaN,NaN,-0.00,NaN,NaN,6257.229,NaN,763.755,20577.6194,NaN
1,0,1,Other,7288.97061,0.00009,0.000,0.0,NaN,NaN,1.007825e+06,...,-0.00,2224.566,NaN,NaN,NaN,NaN,5493.4744,NaN,NaN,19813.8649
2,1,1,Other,13135.72176,0.00011,1112.283,0.0,NaN,NaN,2.014102e+06,...,-2224.57,-0.004,-2224.57,6257.2311,NaN,4032.659,3268.9044,NaN,18353.0494,17589.2949
3,2,1,Other,14949.80993,0.00022,2827.265,0.0,18.592,0.0,3.016049e+06,...,NaN,NaN,-6257.23,0.0011,NaN,-0.001,NaN,0.000,14320.3894,NaN
4,1,2,Other,14931.21793,0.00021,2572.680,0.0,-13736.000,2000.0,3.016029e+06,...,-5493.47,-3268.904,NaN,763.7511,0.0004,NaN,0.0044,-13754.592,NaN,14320.3949

In [19]:
result = ame.append(natural, sort=False)

In [20]:
result[result["Z"] == 92]

,N,Z,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,...,"Q(n,2n)","Q(n,t)","Q(n,3He)","Q(d,t)","Q(d,3He)","Q(3He,t)","Q(3He,a)","Q(t,a)",Neutrons,Mass_Number
2849,123,92,-a,24923.087,88.490,7620.624,0.412,NaN,NaN,2.150268e+08,...,NaN,-1618.0289,5943.1004,NaN,3642.0744,NaN,NaN,17962.4649,NaN,NaN
2862,124,92,-a,23066.351,28.093,7631.307,0.130,NaN,NaN,2.160248e+08,...,-9928.05,-3297.6589,5511.5704,-3670.821,3406.9144,NaN,10649.5694,17727.3049,NaN,NaN
2874,125,92,-a,22973.000,71.000,7634.000,0.000,NaN,NaN,2.170247e+08,...,-8164.00,-1769.2989,5192.0404,-1906.771,3378.4744,NaN,12413.6194,17698.8649,NaN,NaN
2886,126,92,-a,21894.608,13.714,7640.719,0.063,NaN,NaN,2.180235e+08,...,-9150.00,-2783.0989,4736.3704,-2892.771,3030.7044,NaN,11427.6194,17351.0949,NaN,NaN
2897,127,92,-a,23286.569,50.775,7636.329,0.232,-6170.086,101.905,2.190250e+08,...,-6679.36,-660.3289,4220.8904,-422.131,2807.3044,-6188.678,13898.2594,17127.6949,NaN,NaN
2909,128,92,-a,22933.000,101.000,7640.000,0.000,-7378.000,220.000,2.200246e+08,...,-8425.00,-2629.2989,3707.0404,-2167.771,2597.4744,-7396.592,12152.6194,16917.8649,NaN,NaN
2920,129,92,-a,24519.995,51.114,7634.684,0.231,-5330.000,207.000,2.210263e+08,...,-6485.00,-898.6289,3188.7004,-227.771,2506.4744,-5348.592,14092.6194,16826.8649,NaN,NaN
2931,130,92,-a,24272.827,51.994,7637.764,0.234,-6746.000,202.000,2.220261e+08,...,-8318.49,-2824.2989,2743.8304,-2061.261,2101.0444,-6764.592,12259.1294,16421.4349,NaN,NaN
2942,131,92,-a,25837.006,71.119,7632.694,0.319,-4763.000,208.000,2.230277e+08,...,-6507.14,-1417.7789,2036.7304,-249.911,1886.4744,-4781.592,14070.4794,16206.8649,NaN,NaN
2953,132,92,-a,25722.252,23.171,7635.165,0.103,-6153.000,197.000,2.240276e+08,...,-8186.07,-3311.2989,1659.2404,-1928.841,1606.0844,-6171.592,12391.5494,15926.4749,NaN,NaN
2963,133,92,-a,27379.921,10.909,7629.736,0.048,-4207.783,72.440,2.250294e+08,...,-6413.65,-1819.2489,1134.1904,-156.421,1722.1444,-4226.375,14163.9694,16042.5349,NaN,NaN
2973,134,92,-a,27328.869,12.999,7631.916,0.058,-5448.000,89.000,2.260293e+08,...,-8122.37,-3411.8989,475.2304,-1865.141,1192.6444,-5466.592,12455.2494,15513.0349,NaN,NaN
2983,135,92,-a,29045.462,9.705,7626.289,0.043,-3516.618,73.135,2.270312e+08,...,-6354.72,-2173.7589,-124.5696,-97.491,1216.6944,-3535.210,14222.8994,15537.0849,NaN,NaN
2993,136,92,-a,29222.226,14.354,7627.466,0.063,-4373.468,52.545,2.280314e+08,...,-7894.55,-3689.5389,-835.3096,-1637.321,595.5344,-4392.060,12683.0694,14915.9249,NaN,NaN
3003,137,92,-a,31210.554,5.938,7620.721,0.026,-2569.122,87.031,2.290335e+08,...,-6082.99,-2499.1389,-1454.1696,174.239,491.4744,-2587.714,14494.6294,14811.8649,NaN,NaN
3013,138,92,-a,31615.002,4.509,7620.922,0.020,-3621.290,51.461,2.300339e+08,...,-7666.87,-4187.0789,-2015.8796,-1409.641,-77.4056,-3639.882,12910.7494,14242.9849,NaN,NaN
3023,139,92,-a,33806.015,2.670,7613.387,0.012,-1818.498,50.577,2.310363e+08,...,-5880.30,-2969.3889,-2639.4696,376.929,-163.0856,-1837.090,14697.3194,14157.3049,NaN,NaN
3033,140,92,Other,34609.530,1.809,7611.897,0.008,-2750.000,100.000,2.320372e+08,...,-7267.80,-4442.5689,-3112.9596,-1010.571,-610.3656,-2768.592,13309.8194,13710.0249,NaN,NaN
3043,141,92,Other,36919.176,2.255,7603.956,0.010,-1029.415,51.005,2.330396e+08,...,-5761.67,-3383.7189,-3756.6196,495.559,-822.9556,-1048.007,14815.9494,13497.4349,NaN,NaN
3053,142,92,Other,38145.025,1.130,7600.715,0.005,-1809.846,8.321,2.340410e+08,...,-6845.47,-4680.0989,-4161.6596,-588.241,-1139.9456,-1828.438,13732.1494,13180.4449,NaN,NaN
3063,143,92,Other,40918.846,1.117,7590.914,0.005,-124.262,0.852,2.350439e+08,...,-5297.50,-3449.1189,-4672.7696,959.729,-1215.5756,-142.854,15280.1194,13104.8149,NaN,NaN
3072,144,92,Other,42444.644,1.113,7586.484,0.005,-933.534,50.415,2.360456e+08,...,-6545.52,-4772.7689,-5028.2696,-288.291,-1639.7456,-952.126,14032.0994,12680.6449,NaN,NaN
3081,145,92,Other,45390.194,1.203,7576.102,0.005,518.534,0.520,2.370487e+08,...,-5125.77,-3777.1989,-5487.4596,1131.459,-1739.2556,499.942,15451.8494,12581.1349,NaN,NaN
3090,146,92,Other,47307.783,1.493,7570.125,0.006,-146.874,1.201,2.380508e+08,...,-6153.73,-4904.6589,-5807.3196,103.499,-2015.3356,-165.466,14423.8894,12305.0549,NaN,NaN
3099,147,92,-n,50572.718,1.503,7558.561,0.006,1261.661,1.493,2.390543e+08,...,-4806.38,-3833.3889,-6242.2796,1450.849,-2116.8156,1243.069,15771.2394,12203.5749,NaN,NaN
3108,148,92,Other,52715.505,2.553,7551.770,0.011,399.233,17.083,2.400566e+08,...,-5928.53,-5057.0289,-6668.9596,328.699,-2417.5256,380.641,14649.0894,11902.8649,NaN,NaN
3117,149,92,x,56197.000,196.000,7539.000,1.000,1937.000,208.000,2.410603e+08,...,-4590.00,-4019.2989,-7112.9596,1667.229,-2508.5256,1918.408,15987.6194,11811.8649,NaN,NaN
3126,150,92,+a,58620.000,201.000,7532.000,1.000,1203.000,283.000,2.420629e+08,...,-5648.00,-5168.2989,NaN,609.229,-2815.5256,1184.408,14929.6194,11504.8649,NaN,NaN
3135,151,92,x,62360.000,300.000,7518.000,1.000,2484.000,302.000,2.430669e+08,...,-4331.00,-4158.2989,NaN,1926.229,NaN,2465.408,16246.6194,NaN,NaN,NaN
91,146,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.380290e+02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-92.0,0.0

In [22]:
result.Neutrons.fillna(result.N, inplace=True)
result.Mass_Number.fillna(result.A, inplace=True)

In [23]:
for i in range(0,119):
    result[result["Z"] == i] = result[result["Z"] == i].fillna(result[result["Z"] == i].mean())

In [24]:
result.Neutrons = result.Neutrons.astype(int)
result.Mass_Number = result.Mass_Number.astype(int)

In [25]:
result["O"].fillna(value="Other", inplace=True)

In [26]:
result.fillna(value=0, inplace=True)

In [27]:
result.head()

,N,Z,O,Mass_Excess,dMass_Excess,Binding_Energy,dBinding_Energy,B_Decay_Energy,dB_Decay_Energy,Atomic_Mass_Micro,...,"Q(n,2n)","Q(n,t)","Q(n,3He)","Q(d,t)","Q(d,3He)","Q(3He,t)","Q(3He,a)","Q(t,a)",Neutrons,Mass_Number
0,1,0,Other,8071.31713,0.00046,0.000,0.0,782.347,0.0000,1.008665e+06,...,-0.000000,0.0000,0.0000,6257.229000,0.0000,763.755,20577.619400,0.0000,1,1
1,0,1,Other,7288.97061,0.00009,0.000,0.0,18244.328,289.9558,1.007825e+06,...,-1096.973333,3128.6161,0.0000,5160.255667,5493.4744,18225.736,19480.646067,19813.8649,0,1
2,1,1,Other,13135.72176,0.00011,1112.283,0.0,18244.328,289.9558,2.014102e+06,...,-2224.570000,6257.2311,0.0000,4032.659000,3268.9044,18225.736,18353.049400,17589.2949,1,2
3,2,1,Other,14949.80993,0.00022,2827.265,0.0,18.592,0.0000,3.016049e+06,...,-6257.230000,0.0011,0.0000,-0.001000,4381.1894,0.000,14320.389400,18701.5799,2,3
4,1,2,Other,14931.21793,0.00021,2572.680,0.0,-13736.000,2000.0000,3.016029e+06,...,-3176.184286,763.7511,0.0004,3081.044714,0.0044,-13754.592,17401.435114,14320.3949,1,3

In [66]:
result.to_csv("Final_Element_Properties.csv", index=False)